net use "\\{{ ansible_hostname }}\{{ folder_name_for_backup1c}} /del"
net use "\\{{ ansible_hostname }}\{{ folder_name_for_auto1c }} /del"

@echo ATTENTION! Please whait for about 2 minutes while cache cleans on your Windows.

pause
