#!/bin/bash

set -e

if [ $(ls {{ path_to_mount_raid }}/{{ folder_name_for_backup1c }}/backup--*.sql.gz | wc -l) -gt 30 ]; then 
  /usr/bin/find {{ path_to_mount_raid }}/{{ folder_name_for_backup1c }} -type f -mtime +30   -exec rm -rf {} \\;
fi

exit 0
